<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./login.css') }}">
</head>
<body>
    <div class="background"></div>
    <div class="top-left-image">
        <img src="{{ url_for('static', filename='./edumorph.png') }}" alt="Watermark" />
    </div>

    <div class="login-container">
        <h1>Login</h1>
        
        <!-- Check if there is an error and display it -->
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}

        <form method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
